/* RESET */

body, html{ font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;font-family: 'Merriweather Sans', sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box; }
ol,ul{list-style-type: none;}

a{text-decoration: none;}
hr{width: 60px; margin-left: 0px;}


/* HELPERS */

h1 {
    font-size: 55px;
    margin-top: 25px;
    width: 715px;
}

.m-2{margin: 20px;}

.margin{margin-left: 75px;}

.mt-1{margin-top: 30px;}

.mt-2{margin-top: 60px;}

.mt-3{margin-top: 90px;}

.mt-4{margin-top: 120px;}

.mb-1{margin-bottom: 50px;}

img{
    width: 100%;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

/* Elements */

.btn-blue{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}

.btn-blue a {
    color: white;
}

.btn-trans{
    color: gray;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    border: 1px solid gray;
    margin-top: 50px;
}

.btn-trans a {
    color: black;
}

.pos-rel{
    position: relative;
    top:93px;
}

.header, .txt-left, p {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid gray;
}

.header li{
    display: inline;
    margin: 16px;
}

.header a{
    color: black;
}

.tx-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 350px;
    flex-grow: 1;
    position: relative;
    font-weight: 100;
}

.img-right{
    width: 70%;
    border: 1px solid red;
}

.cover{
    height: 90vh;
    background-color: #B4D0E7;
    padding-top: 100px;
}

.fa-arrow-down{
    position: absolute;
    bottom: 15px;
    transition: 0.5s;
}

.fa-arrow-down:hover{
    transform: translate(0px, 10px);
}

/* CONTAINERS */

.container-xl{
    width: 100%;
    padding: 10px;
}

.container-l{
    width: 1200px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    position: relative;
    top: 90px;
}

.container-m{
    width: 1100px;
    margin: 90px auto;
    border: 1px solid red;
}

.container-s{
    width: 1060px;
    margin: 0px auto;
    border: 1px solid red;
    align-content: flex-start;

}

/* SECTION */

.list-1{
    display: flex;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: calc(100% / 3);
    height: 1000px;
    margin: 25px 20px;
}

.c-head{
    width: 100%;
    height: auto;
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 5px;
}

.c-head p {
    margin-bottom: 0;
}

.c-body{
    padding: 20px;
}

.light{
    color: lightgray;
}

.element{
    border: 1px solid gray;
    height: 200px;
    margin: 0 20px;
}

.img-box{
    width: 60%;
    
}

.text{
    width: 40%;
    padding: 20px 50px;
}

.text--2{
    width: 50%;
}

/* Carte */

.carta{
    border: 1px solid red;
    height: auto;
    width: calc(100% / 3);
    padding: 45px;
}

