/* RESET */

body, html{ font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;font-family: 'Merriweather Sans', sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box; }
ol,ul{list-style-type: none;}

a{text-decoration: none;}
hr{width: 100%; margin-left: 0px;}

/* HELPERS */

h1 {
    font-size: 55px;
    margin-top: 25px;
    width: 715px;
}

h3,h2{margin: 0px;}

.fontx3{font-size: 3rem; color: #61082B;}

.w-100{width: 100%;}

.ta{text-align: center;}

.m-2{margin: 20px;}

.margin{margin-left: 75px;}

.mt-1{margin-top: 30px;}

.mt-2{margin-top: 60px;}

.mt-3{margin-top: 90px;}

.mt-4{margin-top: 120px;}

.mb-1{margin-bottom: 50px;}

.mb-2{margin-bottom: 100px;}


img{width: 100%;}

/* FLEXBOX */

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    justify-content: center;
    align-items: center;
}

/* Elements */

.btn-blue{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    display: inline-block;
}

.btn-blue--w100{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.btn-blue a {
    color: white !important;
    text-decoration: none !important;
}

.btn-blue:hover {
    opacity: 0.9;
    
}

.tx-left i{
    font-size: 2.5rem;
}

.btn-trans{
    color: gray;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    border: 1px solid gray;
    margin-top: 120px;
}

.btn-trans a {
    color: black;
}

.btn-wht{
    color: black;
    background-color: #fff;
    padding: 10px;
    height: fit-content;
    width: 280px;
    text-align: center;
    
}

.btn-wht a {
    color: black;
}

.pos-rel{
    position: relative;
    top:93px;
}

.header, .txt-left, p {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid gray;
    margin: 0 auto;
}

.header li{
    display: inline;
    margin: 16px;
}

.header a{
    color: black;
}

.nav li:hover{
    color: black;
    border-bottom: 1px solid black;
    margin-top: 2px;
}

.list-2 li:hover{
    color: black;
    border-bottom: 1px solid black;
    margin-top: 2px;
}

.nav{
    display: flex;
    align-items: center;
}

.tx-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 350px;
    flex-grow: 1;
    position: relative;
    font-weight: 100;
}

.img-right{
    width: 70%;
    
}

.cover{
    max-width: 1500px;
    margin: 0 auto;
    height: 90vh;
    background-color: #B4D0E7;
    padding-top: 100px;
}

.fa-arrow-down{
    position: absolute;
    bottom: 1px;
    transition: 0.5s;
}

.fa-arrow-down:hover{
    transform: translate(0px, 10px);
}

/* CONTAINERS */

.container-xl{
    width: 100%;
    padding: 10px;
    
}

.container-xll{
    width: 100%;
    
}

.container-l{
    width: 1200px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    position: relative;
    top: 90px;
}

.container-m{
    width: 1100px;
    margin: 90px auto;
}

.container-m--no_margin{
    margin: 0 auto;
    padding: 60px 0px;
}

.container-s{
    width: 1060px;
    margin: 0px auto;
    
    align-content: flex-start;
}

/* SECTION */

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: calc(100% / 3);
    height: 1100px;
    margin: 25px 20px;
}

.card a{
    color: #0000EE;
    text-decoration: underline;
}

.meet a{
    color: #0000EE;
    text-decoration: underline; 
}

.c-head{
    width: 100%;
    height: auto;
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 5px;
}

.c-head p {
    margin: 5px;
}

.c-body{
    padding: 20px;
}

.c-body ul{
    padding-left: 0px;
}

.c-body li{
    position: relative;
    padding-left: 15px;
}

.c-body ul li:before {
    list-style-type: none;
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #0061FF;
    position: absolute;
    left: -10px;
   
}

.light{
    color: lightgray;
}

.enterprise{
    border: 1px solid gray;
    height: 240px;
    margin: 0 20px;
}

.content{
    padding: 15px;
}

.side-l{
    width: 660px;
    padding: 10px;
}

.side-r{
    padding: 10px;
    width: 364px;
    justify-content: flex-end;
}

.img-box{
    width: 60%;
}

.text{
    width: 40%;
    padding: 20px 50px;
}

.text--2{
    width: 50%;
}

/* Carte */

.carta{
    
    height: auto;
    width: calc(100% / 3);
    padding: 45px;
}

/* Testimonial */

.group{
    width: calc(100% / 3);
    height: 400px;
    }

.box{
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid transparent;
    transition: 0.1s;;
}

.box:hover{
    border: 5px solid white;
}

.box img{
    width: 50%;
    filter: invert(1);
}

.scale{
    width: 70%;
    padding: 35px;
}

.testo{
    padding: 35px;
}

.questions{
    justify-content: space-between;
}

.text-q{
    display: none;
}

.container-box:hover .text-q{
    display: block;
}

/* FOOTER */

.footer{
    background-color: black;
    height: 500px;
    width: 100%;
    color: white;
}

.footer a{
    color: white;
    
}

.carte{
    width: calc(100% / 5);
}

.border{
    border-top: 1px solid white;
    width: 95px;
}

.border--black{
    border-top: 1px solid black;
    width: 70px;
}

.language > *{
    padding: 5px;
}

/* Colors */
.green{
    background-color: #A2D39B;
}

.brown{
    background-color: #61082B;
}

.azure{
    background-color: #0093CE;
}

.light-red{
    background-color: #FF1C1C;
}

.red{
    background-color: #D5001F;
}

.light-azure{
    background-color: #B4D0E7;
}

.dark-blue{
    background-color: #0D2481;
}

.yellow{
    background-color: #FFD830;
}

.gray{
    background-color: #F5F5F5;
}